<!--                <div>-->
<!--                    <button type="button" class="btn btn-dark btn-secondary d-flex" id="modalButton"-->
<!--                        aria-expanded="false">-->
<!--                        <img class="mx-1" src="{% static 'deps/icons/basket2-fill.svg'%}" alt="Catalog Icon" width="24"-->
<!--                            height="24">-->
<!--                        <span id="goods-in-cart-count">0</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--                &lt;!&ndash; Разметка модального окна корзины &ndash;&gt;-->
<!--                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"-->
<!--                    aria-hidden="true">-->
<!--                    <div class="modal-dialog modal-dialog-scrollable">-->
<!--                        <div class="modal-content">-->
<!--                            <div class="modal-header">-->
<!--                                <button type="button" class="btn-close" data-bs-dismiss="modal"-->
<!--                                    aria-label="Close"></button>-->
<!--                            </div>-->
<!--                            <div class="modal-body">-->
<!--                                <h3 class="text-center mb-4">Корзина</h3>-->
<!--                                <div class="container" id="cart-items-container">-->
                                    <!-- Разметка корзины -->

<!--                                    <div class="card mb-3 text-bg-light shadow-lg">-->
<!--                                        <div class="card-header">-->
<!--                                            <h5 class="card-title">Товар</h5>-->
<!--                                        </div>-->
<!--                                        <ul class="list-group list-group-flush">-->
<!--                                            <li class="list-group-item">-->
<!--                                                <div class="row text-center">-->
<!--                                                    <div class="col p-0">-->
<!--                                                        <div class="input-group">-->
<!--                                                            <span class="input-group-btn">-->
<!--                                                                <button type="button" class="btn btn-dark btn-sm decrement"-->
<!--                                                                    data-cart-id="" data-cart-change-url="">-</button>-->
<!--                                                            </span>-->
<!--                                                            <input type="text" class="form-control number" value="1"-->
<!--                                                                readonly>-->
<!--                                                            <span class="input-group-btn">-->
<!--                                                                <button type="button" class="btn btn-dark btn-sm increment"-->
<!--                                                                    data-cart-id="" data-cart-change-url="">+</button>-->
<!--                                                            </span>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="col p-0">-->
<!--                                                        <p>x 100.00 = </p>-->
<!--                                                    </div>-->
<!--                                                    <div class="col p-0"><strong>100.00 $</strong></div>-->
<!--                                                    <div class="col p-0">-->
<!--                                                        <a href="#" class="remove-from-cart" data-cart-id="">-->
<!--                                                            <img class="mx-1" src="{% static 'deps/icons/trash3-fill.svg'%}"-->
<!--                                                                alt="Catalog Icon" width="16" height="16">-->
<!--                                                        </a>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                    <div class="card mb-3 shadow-lg">-->
<!--                                        <div class="card-footer">-->
<!--                                            <p class="float-left">Итого <strong>1</strong> товар(а) на сумму</p>-->
<!--                                            <h4 class="float-left"><strong>100.00 $</strong></h4>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                    <!-- Закончилась разметка корзины -->
<!--                                </div>-->
<!--                                <a class="btn btn-dark" href="orders/create_order.html">-->
<!--                                    Оформить заказ-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--    <script src="{% static 'deps/js/jquery-events.js'%}"></script>-->









<!--{% extends "base.html" %}-->
<!--{% load static %}-->
<!--{% load carts_tags %}-->

<!--{% block modal_cart %}-->
<!--{% user_carts request as carts %}-->
<!--<div class="row">-->
<!--    <div class="container mt-5">-->
<!--        <div class="row justify-content-center">-->
<!--            <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">-->
<!--                <h3 class="text-center mb-4">Корзина</h3>-->
<!--                <div class="container" id="cart-items-container">-->
<!--                    &lt;!&ndash; Разметка корзины &ndash;&gt;-->
<!--                    {% include "carts/includes/included_cart.html" %}-->
<!--                    &lt;!&ndash; Закончилась разметка корзины &ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--{% endblock %}-->